
/* RESET START*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Harmonia_regular';
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
input, textarea, button{
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}
.label{
    margin-bottom: 0px;
}
/* RESET END*/

/*DEFAULT CLASSES START*/
.flex-container{
    display: flex;
}
.align-canter{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.wite-bg{
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
/*DEFAULT CLASSES END*/

/* DEFAUL COMPANENT START*/
.custom-icon{
    display: inline-block;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.checkbox-group input[type=checkbox]{
    display: none;
}
.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
    margin-bottom: 40px
}
.checkbox-group label::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #cdf0f2;
    background-color: #cdf0f2;
    margin-right: 13px;
}
.checkbox-group input[type=checkbox]:checked + label{
    color: #ff5912;
}
.checkbox-group input[type=checkbox]:checked + label::before{
    border-color: #ff5912;
}

.item{
    background-color: #fff;
    padding: 30px 10px;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    box-shadow: 0px 5px 15px 0px rgb( 0, 0, 0 );
}
.item-description{
    padding: 0 40px;
}
.item:hover .item-title{
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}

.item:hover .more-info-on-hover{
    opacity: 1;
}
.item.item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-top: 30px;
    font-family: "Harmonia_bold";
}
.item .item-img{
    transition: all .3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.default-section{
    padding: 60px 0;
}
.item:hover .item-img{
    height: 90px;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
.social-nav a{
    padding-left: 10px;
}
.bootom-header{
    margin-top: 50px;
}
.header-nav{
    margin-left: 45px;
}
.header-icon{
    margin-left: auto;
}
.header-icon    ul li+li{
    margin-left: 20px;
}
.subscribe-form{
    padding: 37px 42px;
}
.subscribe-input-group{
    margin-right: 30px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    color: #7c8791;
    font-size: 14px;
    font-family: 'Harmonia_italic';
    min-width: 255px;
}
/* DEFAUL COMPANENT END*/

/* HEADER START*/
.header-nav ul {
    font-size: 18px;
}
.header-nav ul li+li{
    margin-left: 30px;
}
.header-nav ul li:hover{
    color: #ff5912;
}
.label{
    position: absolute;
    top: -13px;
    right: 0.1px;
    border-radius: 1em;
}
.header-icon .icon-lable{
    position: relative;
}
.header-icon .heder-bot-icon{
    align-items: center;
}
/* HEADER END*/

/* MEIN START*/
.main-content .content-text span{
    font-size: 18px;
    margin-bottom: 18px;
}
.main-content .content-text p{
    margin-top: 18px;
    font-size: 16px;
    font-family: 'Harmonia_regular';
}
.content-price{
    margin-top: 68px;
}
.content-price ul li+li{
    margin-left: 34px;
}
.content-price ul li{
    font-size: 18px;
}
.content-price ul li a{
    padding-left: 14px;
}
.content-price ul li a:hover{
    color: #ff5912;
}
.items-carousel{
    min-height: 650px;
    background: url("../img/content-bg.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.item .item-price{
    margin-top: 33px;
    font-family: "Harmonia_bold";
    font-size: 18px;
}
.load-more{
    background-color: #ffffff;
    padding: 26px 20px;
    text-align: center;
    margin-bottom: 100px;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 60px;
}
.circle{
    background-color: #ff5912;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
}
.winter-title{
    font-size: 22px;
}
.full-content{
    display: inline-block;
    padding-left: 45px;
    margin: auto;
}
.content-full{
    display: block;
    margin-top: 9px;
}
.kit{
    padding: 10px 60px;

    border: 1px solid #eaedef;
}

.sales-block{
    position: relative;
    margin-bottom: 15px;
   margin-top: 15px;
}
.sales-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child{
    transform: rotate(45deg);
}
.sales-block div:last-child{
    transform: rotate(-45deg);
    position: absolute;
    left:0;
}
.adv-area{
    margin: auto;
    padding: 30px;
    text-align: center;
    margin-left: 30px;
    border: 1px solid #eaedef;
}
.adv-area span{
    font-size: 16px;
    margin-bottom: 18px;
}
.adv-area span+span{
    margin-left: 3px;
}
.adv-area p{
    color: rgba(67, 82, 93, 0.6);
    font-size: 12px;
    letter-spacing: 1em;
    margin-top: 18px;
}
.price{
    margin-top: 16px;
    padding-left: 70px;
}
.price-cost{
    font-size: 32px;
    padding-left: 29px;
    margin: auto;
    font-family: 'Harmonia_black';
}
.price-ico{
    margin: auto;
}

.sales{
    text-align: center;
}
.sales span{
   margin-right: 12px;
}
.jacket-img{
    margin: 30px;
}
.jacket-desc{
    margin: auto;
}
.jacket-name{
    font-size: 16px;
    font-family: 'Harmonia_semibold';
}
.item-review{
    margin-top: 35px;
}
.jacket-price{
    font-size: 16px;
    font-family: 'Harmonia_semibold';
    color: #ff5912;
}
.star-icon{
    color: #ff5912;
}
.subscribe-description span+span{
    margin-left: 40px;
}
.subscribe-description:first-child{
    font-size: 18px;
    font-family: 'Harmonia_bold';
}
.subscribe-description:last-child{
    font-family: 'Harmonia_italic';
}
.btn{
    height: 50px;
    width: 100px;
    background-color: #ff5912;
    color: #fff;
    font-family: 'Harmonia_bold'
}
/*MEAIN END*/
/* FOOTER START*/
.footer-text{
    font-size: 14px;
    font-family: 'Harmonia_regular';
    margin-top: 27px;
}
.footer-content{
    align-self: center
}
.footer-shope{
    margin: 85px 0;
}
.footer-methods{
    align-self: center
}
.footer-methods ul{
    margin-top: 20px;
}
.footer-methods ul li+li{
    margin-left: 10px;
}
.footer-methods span{
    font-size: 16px;
    font-family: 'Harmonia_semibold';
}
.footer-content ul li{
    font-size: 14px;
    font-family: 'Harmonia_regular';
    color: #28313b;
}
.footer-content ul+ul{
    margin-left: 120px;
}
.footer-content ul li+li{
    margin-top: 20px;
}
.footer-content ul li a::before{
    content: "";
    width: 6px;
    height: 6px;
    background: #28313b;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
}
.footer-content ul li a:hover::before{
    background-color: #ff5912;
}
.footer-content ul li a:hover{
    color: #ff5912
}
/*FOOTER END*/
/*category start*/
.category-wrap{
    padding-top: 120px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 35px;
}
.aside-section-category ul li{
    font-size: 16px;
    font-family: 'Harmonia_semibold';
}
.aside-section-category ul li+li{
    margin-top: 40px;
}
.aside-section-category ul li:hover{
    color: #ff5912;
}
.category-wrap .item{
    margin-bottom: 30px;
}
.range{
    margin-top: 40px;
}
.min-value, .max-value{
    position: absolute;
    top: -150%;
    font-size: 14px;
    color: #34404b;
    font-family: 'Harmonia_semibold';
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}
/*category end*/